<!DOCTYPE html>
<html>
<head>
    <title>SkyCast Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var locationInput = document.getElementById("location");
            document.getElementById("auto-location").addEventListener("click", function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        locationInput.value = position.coords.latitude + "," + position.coords.longitude;
                        document.getElementById("location-form").submit();
                    });
                } else {
                    alert("Geolocation is not supported by this browser.");
                }
            });

            document.getElementById("search-city").addEventListener("click", function() {
                locationInput.style.display = "block";
                locationInput.focus();
            });

            locationInput.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    document.getElementById("location-form").submit();
                }
            });
        });
    </script>
</head>
<body>
    <header>
        <h1>SkyCast</h1>
    </header>
    <main class="search-main">
        <form id="location-form" action="{{ url_for('get_forecast') }}" method="post">
            <label for="units">Units:</label>
            <select id="units" name="units">
                <option value="imperial">Fahrenheit</option>
                <option value="metric">Celsius</option>
                <option value="standard">Kelvin</option>
            </select>
            <div>
                <button type="button" id="search-city">Search by City or Zip Code</button>
                <button type="button" id="auto-location">Use Your Current Location</button>
            </div>
            <input type="text" id="location" name="location" placeholder="Search for city or zip code" style="display:none;">
        </form>
    </main>
</body>
</html>
