Global Styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
    background-image: url('{{ url_for(\'static\', filename=\'images/background.jpg\') }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(21, 182, 180, 0.8); /* Semi-transparent background */
    color: white;
    text-align: left;
}
header a {
    color: white;    
    text-decoration: none;    
    font-size: 24px;    
    font-weight: bold;    
    font-family: 'Lato', sans-serif; 
}
.header-left a:hover {
        text-decoration: underline;
}
h1 {
    margin: 0;
}

main {
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
/* Button Styles */
button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #15b6b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}
button:hover {
    background-color: #157bb6;
}

.weather-button {
    text-decoration: none;
    color: white;
    background-color: rgba(21, 182, 180, 0.8); /* Semi-transparent background */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.weather-button:hover {
    background-color: rgba(21, 123, 182, 0.8); /* Semi-transparent background */
}

#logout-button {
    background-color: #157bb6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: #13557b;
}
/* Form Styles */
form {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-field {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-field:focus {
    outline: none;
    border-color: #15b6b4;
}

/* Specific Page Styles */

/* Home Page */
.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.home-main button {
    width: 50%;
    max-width: 300px;
}

/* Search Page */
.search-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-main div {
    margin: 10px 0;
}

/* Results Page */
.results-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-main h2, .results-main p {
    margin: 10px 0;
}
section {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.section-2,
.section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
}

.section-2 .photo,
.section-2 .text,
.section-3 .photo,
.section-3 .text {
    width: 45%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
        .header-left, .header-right {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

.header-right {
            flex-direction: column;
            gap: 10px;
        }

.weather-button,
.login-button {
            padding: 10px 15px;
            font-size: 14px;
            width: 80%; /* Reduced width for buttons */
            margin: 0 auto; /* Center buttons */
        }

    section {
        padding: 10px;
        flex-direction: column;
        margin:  0 auto;
        align-items: center;
    }

    .section-2, .section-3 {
        flex-direction: column;
        align-items: center;
    }
   .section-3 {
        flex-direction: column;
        align-items: center;
    }
    .section-2 .photo, .section-2 .text,
    .section-3 .photo, .section-3 .text {
        width: 100%;
        margin: 0 auto;
    }
    button {
        width: 80%;
        padding: 10px;
        font-size: 14px;
    }

    form {
        width: 100%;
        padding: 10px;
    }

    input[type="text"], select {
        width: calc(100% - 20px);
    }

    .home-main {
        height: auto;
    }

    .home-main button {
        width: 80%;
    }
}